.form {
  display: flex;
  flex-direction: column;
  text-align: left;

  padding: 15px 50px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  font-size: 18px;
}

.input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  cursor: pointer;
  height: 35px;
  width: 320px;
  border-radius: 10px;
  border: solid 2px rgb(11, 144, 108);
  outline: rgb(11, 144, 108);
}

.input:focus,
.input:hover {
  box-shadow: 3px 3px 14px 12px rgb(12, 167, 126);
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  color: rgb(248, 248, 248);
  text-shadow: rgb(68, 58, 58) 0 0 2px;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  color: rgb(248, 248, 248);
  text-shadow: rgb(68, 58, 58) 0 0 2px;
  border-radius: 10px;
  background-color: rgba(11, 144, 109, 0.143);
  border: solid 2px rgb(11, 144, 108);
  outline: rgb(11, 144, 108);
}

.button:focus,
.button:hover {
  box-shadow: 3px 3px 14px 12px rgb(11, 144, 108, 0.5);
  color: rgb(68, 58, 58);
  text-shadow: rgb(248, 248, 248) 0 0 2px;
}

.title {
  margin: 10px 0;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: rgb(68, 58, 58) 0 0 2px;
  font-size: 24px;
}
