.filterName {
  display: flex;
  flex-direction: column;
  text-align: center;

  padding: 5px 50px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-shadow: rgb(68, 58, 58) 0 0 2px;
}

.input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  cursor: pointer;
  height: 35px;
  width: 350px;
  border-radius: 10px;
  border: solid 2px rgb(11, 144, 108);
  outline: rgb(11, 144, 108);
}
